<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to (image_post.title ? image_post.title : 'Untitled'), post_path(image_post) %>
      <span class="pull-right"><%= time_ago_in_words(image_post.created_at) %></span>
    </h3>
  </div>
  <div class="panel-body">
    <p><em>By <%= link_to image_post.user.name, user_path(image_post.user) %></em></p>

    <%= link_to (image_tag image_post.url, class: 'img-responsive'), post_path(image_post) %>

    <div class="image-post-body">
      <br>
    <%= image_post.body %>
    </div>
  </div>
</div>